#navBar{
    width:100%;
    height: 18%;
}
#score{
    color:rgb(0, 140, 255);
}
#score, #topScore, #fail{
    float:right;
    font-family: fantasy;
    font-size: 2rem;
}

#topScore{
margin-left:20rem;
color:green;
}

#fail, #score{
    margin-left:6rem;
}

#fail{
    color:red;
}
#info{
    float:left;
    font-family: fantasy;
    font-size: 2rem;
    margin-left:1rem;
}